<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <!--<configSections>
    <section name="deployments" type="DeployTool.DeploymentCollection,DeployTool" allowDefinition="Everywhere"/>
    <section name="deployment" type="DeployTool.DeploymentElement,DeployTool" allowDefinition="Everywhere"/>
  </configSections>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup> 
  <appSettings> 
  </appSettings>

  <!--<deployments>
    <deployment name="OnlineDEV1" enable="1">
      <add key="UserName" value="@.onmicrosoft.com"/>
      <add key="UserPwd" value=""/>
      <add key="Domain" value=".com"/>
      <add key="OrganizationUniqueName" value="ccaredev1"/>
      <add key="DiscoveryServiceAddress" value="https://disco.crm.dynamics.com/XRMServices/2011/Discovery.svc" />
      <add key="OrganizationServiceAddress" value="https://.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    </deployment>
    <deployment name="OnlineSIT" enable="1">
      <add key="UserName" value="@.onmicrosoft.com"/>
      <add key="UserPwd" value=""/>
      <add key="Domain" value=".com"/>
      <add key="OrganizationUniqueName" value=""/>
      <add key="DiscoveryServiceAddress" value="https://disco.crm5.dynamics.com/XRMServices/2011/Discovery.svc" />
      <add key="OrganizationServiceAddress" value="https://ccaresit.api.crm5.dynamics.com/XRMServices/2011/Organization.svc" />
    </deployment>
  </deployments>-->
  
</configuration>
