<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sourceCRMUserName" value="crmadminfortestenv@hwccp.onmicrosoft.com"/>
    <add key="sourceCRMUserPwd" value="!QAZxsw2"/>
    <add key="sourceCRMDomain" value="hwccp.com"/>
    <add key="sourceCRMOrganizationUniqueName" value="ccaredev1"/>
    <add key="sourceCRMDiscoveryService" value="https://disco.crm5.dynamics.com/XRMServices/2011/Discovery.svc" />

    <add key="destinationCRMUserName" value="crmadminfortestenv@hwccp.onmicrosoft.com"/>
    <add key="destinationCRMUserPwd" value="!QAZxsw2"/>
    <add key="destinationCRMDomain" value="hwccp.com"/>
    <add key="destinationCRMOrganizationUniqueName" value="ccareuat"/>
    <add key="destinationCRMDiscoveryService" value="https://disco.crm5.dynamics.com/XRMServices/2011/Discovery.svc" /> 
  </appSettings> 
</configuration>